{% extends 'base.html' %}
{% load crispy_forms_tags%}

{% block title_block%} Signup {% endblock%}
{% block css_block %}
<style>
     .sign-page{
          height: auto screen;
          background: rgb(255, 255, 255);
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     .sign-up{
          width: 400px;
          border: 1px solid black;
          padding: 30px;
     }
     .sign-up button{
          width: 100%;
     }
</style>

{% endblock %}

{% block body_block%}
<center>
     <div class="sign-page">
          <div class="sign-up">
               <h3>Create New Account</h3>
               <form method="POST" class="my-5">
                    {{form | crispy }}
                    {% csrf_token%}
                    <button type="submit" class="btn btn-sm btn-success"> Signup </button>
               </form>
               <p>Have an account? <a href="{% url 'Account_App:sign_in' %}">Signin</a></p>
               
          </div>
     </div>
</center>

{% endblock %}


